@import 'styles/mixins';

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "icon feel details";

  grid-column-gap: fluid(32px, 128px);
  margin-bottom: fluid(44px, 176px);

  &_icon {
    grid-area: icon;
    height: fluid(82px, 328px);
    align-self: center;
    justify-self: center;
  }

  &_feel {
    grid-area: feel;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "sky tempToday" 
      "tempCurrent tempCurrent";
    grid-row-gap: fluid(8px, 32px);
  }

  &_details {
    grid-area: details;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "place" "dateDay" "dateDate";
    grid-row-gap: fluid(8px, 32px);
  }
}

.feel {
  &_sky {
    grid-area: sky;
    @include typography-lightText;
    text-align: left;
  }

  &_tempToday {
    grid-area: tempToday;
    @include typography-lightText;
    text-align: right;
    white-space: nowrap;
  }

  &_tempCurrent {
    grid-area: tempCurrent;
    @include typography-header;
    text-align: center;
  }
}

.details {
  &_place {
    grid-area: place;
    @include typography-lightText;

  }
  &_dateDay {
    grid-area: dateDay;
    @include typography-subheader;
  }
  &_dateDate {
    grid-area: dateDate;

    @include typography-subheader;
    white-space: nowrap;
  }
}

.forecast {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-column-gap: fluid(6px, 24px); 

  margin-top: fluid(8px, 32px);
  justify-content: space-between;

  &_item {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
}

.forecastItem {
  &_hour {
    @include typography-lightText;
    margin-bottom: 8px;
    width: fluid(53px, 212px);
  }
  &_icon {
    width: fluid(30px, 120px);
    height: fluid(30px, 120px);
  }
  &_temp {
    margin-top: fluid(8px, 32px);
    margin-bottom: fluid(8px, 32px);
    width: fluid(53px, 212px);

    @include typography-bodyText;
  }
}