@mixin typography-header {
  font-size: var(--fontSizeBigger);
  font-weight: 700;
  line-height: 1.2em;
}

@mixin typography-subheader {
  font-size: var(--fontSizeBig);
  font-weight: 700;
  line-height: 1.2em;
}

@mixin typography-bodyText {
  font-size: var(--fontSizeMedium);
  font-weight: 700;
  line-height: 1.2em;
}

@mixin typography-lightText {
  font-size: var(--fontSizeSmall);
  font-weight: 400;
  line-height: 1.2em;
  color: var(--secondaryColor00);
}

@function fluid($min, $max) {
  @return clamp($min , calc($min * 100vw / 480px), $max)
}


