@import './mixins';

:root {
  --primaryColor00: white;
  --secondaryColor00: #a8aabd;
  --backgroundColor00: #262a59;

  --fontSizeSmall: 0.8rem;
  --fontSizeMedium: 1.4rem;
  --fontSizeBig: 1.8rem;
  --fontSizeBigger: 4.4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  background: var(--backgroundColor00);
  color: var(--primaryColor00);
  font-size: fluid(14px, 48px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
